/* You can add global styles to this file, and also import other style files */


/*Player*/

.audio-player-wrapper {
    width: 225px;
    margin: 100px auto;
    background-color: #ddddda;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.audio-player-image {
    position: relative;
    height: 149px;
    -webkit-backface-visibility: hidden;
}

.audio-player-image>img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}

.audio-player-image>img.fading {
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    z-index: 1;
    opacity: 0;
}

@-moz-keyframes loadingStripes {
    0% {
        background-position: -20px;
    }
    100% {
        background-position: 0px;
    }
}

@-webkit-keyframes loadingStripes {
    0% {
        background-position: -20px;
    }
    100% {
        background-position: 0px;
    }
}

@-o-keyframes loadingStripes {
    0% {
        background-position: -20px;
    }
    100% {
        background-position: 0px;
    }
}

@-ms-keyframes loadingStripes {
    0% {
        background-position: -20px;
    }
    100% {
        background-position: 0px;
    }
}

@keyframes loadingStripes {
    0% {
        background-position: -20px;
    }
    100% {
        background-position: 0px;
    }
}

.audio-player-progress {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    background-color: #a0a7af;
    overflow: hidden;
}

.audio-player-progress.loading {
    background-image: -webkit-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    -webkit-animation: loadingStripes 700ms linear infinite;
    -moz-animation: loadingStripes 700ms linear infinite;
    -ms-animation: loadingStripes 700ms linear infinite;
    -o-animation: loadingStripes 700ms linear infinite;
    animation: loadingStripes 700ms linear infinite;
}

.audio-player-progress-bar {
    -webkit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    transition: width 200ms linear;
    display: block;
    height: 100%;
    width: 0;
    max-width: 100%;
    background-color: #808e97;
    border-radius: 25px;
}

.audio-player-button {
    display: block;
    position: relative;
    float: left;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    border-radius: 55px;
    border: 3px solid #808e97;
    opacity: 0.8;
    cursor: pointer;
}

.audio-player-button:hover {
    opacity: 1;
}

.audio-player-button::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -12px;
    right: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    line-height: 0;
    font-size: 20px;
    color: #808e97;
}

.audio-player-button.icon-pause::before {
    font-size: 18px;
    top: 1px;
    left: -15px;
}

.audio-player-button.icon-backward::before {
    left: -17px;
}

.audio-player-button.small {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.audio-player-button.small::before {
    font-size: 15px;
}

.audio-player-button-wrappers {
    overflow: hidden;
    *zoom: 1;
    display: block;
    width: 133px;
    margin: 15px auto 0 auto;
}
.audio-player-wrapper.error .audio-player-image {
  background: #f78471; }

.audio-player-wrapper.error .audio-player-image:before {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  text-align: center;
  margin: auto;
  color: white;
  content: "Error loading";
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px; }

.audio-player-wrapper.error .audio-player-image > * {
  display: none; }

@import '~@angular/material/prebuilt-themes/purple-green.css';
label {
    color: #848484 !important;
}

.card-background-color {
    background: red;
}

.mat-input-underline {
    border-color: rgba(0, 0, 0, 0.12);
}

.car-profile {
    background-color: yellow;
    color: pink;
}

.mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: normal;
    text-align: center;
    width: 350px;
}

.example-full-width {
    text-align: center
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.mat-toolbar.mat-warn {
    background: #2196F3;
    color: #fff;
}

.mat-input-underline .mat-input-ripple.mat-warn {
    background-color: #2196F3;
}


/*.example-card {
    max-height: 400px;
}*/

.mat-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    height: 48px;
    padding: 0 16px;
    position: relative;
    width: 100%
}

.full-button {
    flex: 1 1 auto;
}

.app-icon-button {
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-filter: none;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    margin-top: 10px !important;
}

.card-block {
    padding: 0 !important;
}

.example-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/09/White_paw_print.png');
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}


/*.avatar-title {
    margin: 5px 50px;
    display: block;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, .87);
}

.avatar-subtitle {
    display: block;
    margin: 10px -144px;
    font-size: 14px;
    color: #636c74;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-row>[class*='col-'] {
    display: flex;
    flex-direction: column;
    margin: 5px 20px 20px 15px;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 15px;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.flex-row .thumbnail,
.flex-row .caption {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: auto;
    position: relative;
    color: rgba(0, 0, 0, .87);
}

.flex-text {
    flex-grow: 1;
}

.flex-row img {
    min-width: 0;
    width: 110.4%;
    margin-left: -15px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-radius: 0;
    margin-top: 10px;
}

.mat-text {
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}*/

.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /*height: 99%;*/
    margin: 5px;
}

.mat-raised-button {
    color: #fff !important;
    background-color: #424242;
}

.mat-fab,
.mat-mini-fab {
    background-color: #eeeeee;
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.mat-mini-fab {
    box-shadow: none !important;
    min-width: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    flex-shrink: 0;
    margin: 5px !important;
}


/*.mat-card-actions {
    margin-left: 0px;
    margin-right: 0px;
    padding: 8px 0;
    /*position: absolute;*/


/*bottom: 20px;
    display: initial;
}*/

.mat-toolbar.mat-primary {
    background: #212121;
    color: rgba(255, 255, 255, .87);
    /* text-align: center; */
}

.mat-sidenav {
    position: relative;
    transform: translate3d(0, 0, 0);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    min-width: 20vw !important;
    outline: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    transform: translate3d(-100%, 0, 0);
}

.mat-card-actions {
    margin-left: 0;
    margin-right: -16px;
    padding: 8px 0;
}

md-sidenav-layout.m2app-dark {
    background: black;
}

.app-content {
    padding: 20px;
}

.app-content md-card {
    margin: 20px;
}

.app-sidenav {
    padding: 10px;
    min-width: 300px;
}

.app-content md-checkbox {
    margin: 10px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.app-spinner {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.app-input-icon {
    font-size: 16px;
}

.app-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px;
}

.app-progress {
    margin: 20px;
}


/*Flex*/

.containerX {
    border: solid 1px #b6b6b6;
}

.colorNested,
.colored,
.coloredContainerX {
    height: 200px;
}

md-card {
    background-color: white;
}

div.coloredContainerX>div,
div.colorNested>div>div {
    padding: 8px;
    box-shadow: 0px 2px 5px 0 rgba(52, 47, 51, 0.63);
    opacity: 0.9;
    color: #fff;
    text-align: center;
}

div.coloredContainerX>div:nth-child(1),
div.colorNested>div>div:nth-child(1) {
    background-color: #009688;
}

div.coloredContainerX>div:nth-child(2),
div.colorNested>div>div:nth-child(2) {
    background-color: #3949ab;
}

div.coloredContainerX>div:nth-child(3),
div.coloredChildren>div:nth-child(3),
div.colorNested>div>div:nth-child(3) {
    background-color: #9c27b0;
}

div.coloredContainerX>div:nth-child(4),
div.coloredChildren>div:nth-child(4),
div.colorNested>div>div:nth-child(4) {
    background-color: #b08752;
}

div.coloredContainerX>div:nth-child(5),
div.coloredChildren>div:nth-child(5),
div.colorNested>div>div:nth-child(5) {
    background-color: #5ca6b0;
}

div.colored>div {
    padding: 8px;
    box-shadow: 0px 2px 5px 0 rgba(52, 47, 51, 0.63);
    opacity: 0.9;
    color: #fff;
    text-align: center;
}

div.colored>div:nth-child(1),
.one {
    background-color: #009688;
}

div.colored>div:nth-child(2),
.two {
    background-color: #3949ab;
}

div.colored>div:nth-child(3),
.three {
    background-color: #9c27b0;
}

div.colored>div:nth-child(4),
.four {
    background-color: #8bc34a;
}

div.colored>div:nth-child(5),
.five {
    background-color: #03A9F4;
}

div.colored>div:nth-child(6),
.six {
    background-color: #c9954e;
}

div.colored>div:nth-child(7),
.seven {
    background-color: #FF5722;
}

.hint {
    margin: 5px;
    font-size: 0.9em;
    color: #a3a3a3;
    margin-bottom: 0;
}

.title {
    margin: 5px;
    font-size: 0.9em;
    color: #5c5c5c;
}

.box {
    border: solid 1px gray;
}

button.md-primary {
    margin-left: 25px;
}

.demo-content {
    background-color: ghostwhite;
}

md-toolbar-row button {
    min-width: 150px;
}

div.colored.box.nopad>div {
    padding: 0;
}

.intro {
    margin-top: -52px;
    margin-left: 15px;
    color: #5c5c5c;
}

.version {
    font-size: 0.8em;
    color: #aeaeae;
    margin-top: 20px;
}

.blocks {
    min-width: 75px;
    min-height: 50px;
}